.room-luxe {
  margin: 0 auto;
  max-width: 1440px;
  padding-bottom: 32px;

  background-color: var(--fon-lemon);
}

.room-luxe-secondtxt {
  font-family: 'Times New Roman', serif;
  padding-top: 32px;
  margin-bottom: 8px;

  font-size: 20px;
  line-height: 1.15;
  color: var(--color-secondtxt);
}

.room-luxe-logo {
  font-family: 'Film P3', sans-serif;
  display: block;
  margin-bottom: 32px;

  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--color-logo);
  text-transform: uppercase;
}

.room-luxe-title {
  font-family: 'Times New Roman', serif;
  margin-bottom: 12px;

  font-size: 5.8vw;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-title);
}

.luxe-word {
  text-transform: lowercase;
}

.room-luxe-primtxt {
  margin-bottom: 32px;
  max-width: 258px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-primtxt);
}

.room-luxe-photo {
  width: 244px;
  margin-left: auto;
}

.about-room-luxe {
  margin-top: 28px;
  text-align: center;
}

.room-luxe-details,
.room-luxe-price {
  display: inline-block;
  padding: 14px 64px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.02em;
  background-color: var(--color-title);

  border: 2px solid var(--fon-lemon);
  border-radius: 25px;
  color: var(--accent-yellow);
}

.room-luxe-price {
  font-family: inherit;
  min-width: 236px;
  margin-top: 16px;
  padding: 14px 37px;
}

@media screen and (min-width: 414px) {
  .room-luxe-title {
    font-size: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .room-luxe-photo {
    width: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .room-luxe-photo {
    width: 460px;
  }
}
