<section class="section-restuarant">
    <h2>About our kitchen</h2>
    <p>Amet minim mollit non</p>
    <a href="">MIMIHO</a>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <div>
            <img src="../../img/restaurant/about-1.jpg" alt="about-1" width="293px" height="322px">
        </div>
        <div>
            <div>
                <img src="../../img/restaurant/about-2.jpg" alt="about-2" width=" 200px" height="278px">
            </div>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    <ul>
        <li><img src="../../img/restaurant/about-3.jpg" alt="about-3" width="245px" height="245px"></li>
        <li><img src="../../img/restaurant/about-4.jpg" alt="about-4" width="24px" height="245px"></li>
    </ul>
    <svg width="150px" hegiht="150px">
          <use href="./public/favicon.svg#icon-arrow-left" ></use>
    </svg>
    <svg width="150px" hegiht="150px">  
          <use href="./public/favicon.svg#icon-arrow-right"></use>
    </svg>
</section>