<section class="restaurant-hero">
  <div class="restaurant-container">
    <h1 class="hero-title">MIMIHO</h1>
    <h2 class="restaurant-hero-subheading">Ресторан</h2>
    <p class="restaurant-hero-motto">СМАК ЖИТТЯ 24/7</p>
    <ul class="hero-btn-list">
      <li>
        <button type="button" class="hero-btn">Забронювати столик</button>
      </li>
      <li><button type="button" class="hero-btn">Переглянути меню</button></li>
    </ul>
    <div class="hero-location">
      <svg width="20" height="20" class="hero-loc-icon">
        <use href="../../public/favicon.svg#icon-location"></use>
      </svg>
      <a href="" class="hero-address">
        Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
      >
    </div>
    <ul class="hero-soc-list">
      <li class="hero-soc-list-item">
        <a href="">
          <svg class="hero-soc-icons" width="24" height="24">
            <use href="../../public/favicon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-list-item">
        <a href="">
          <svg class="hero-soc-icons" width="24" height="24">
            <use href="../../public/favicon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-list-item">
        <a href="">
          <svg class="hero-soc-icons" width="24" height="24">
            <use href="../../public/favicon.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
