.address-section {
  padding-top: 36px;
  padding-bottom: 32px;
}

.contacts-logo {
  display: inline-block;
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: var(--color-logo);

  margin-bottom: 12px;
}

.contacts-post-logo {
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--color-primtxt);

  margin-bottom: 16px;
}

.contacts-tel-text {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: calc (24 / 20);
  letter-spacing: 0.02em;
  color: var(--brown);

  margin-bottom: 8px;
}

.contacts-address-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

/* .contacts-address-item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
} */

.contacts-address-item:nth-child(1) {
  margin-bottom: 24px;
}

.contacts-address-item:nth-child(2) {
  margin-bottom: 48px;
}

.contacts-address-block {
  display: flex;
  align-items: center;
  padding: 7px 6px 7px;

  background-color: #ffffff;
  border: 0.5px solid var(--accent-yellow);
  border-radius: 2px;
}

.contacts-rest-block {
  width: 144px;
}

.contacts-block-width {
  width: 260px;
}

.contacts-tablet-block-width {
  padding-left: 10px;
  padding-right: 8px;
}

.address-icon {
  margin-right: 10px;

  fill: var(--brown);
}

.contacts-tel-link {
  font-style: normal;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;
  color: var(--color-logo);
}

.contacts-tel-link + .contacts-tel-link {
  margin-left: 12px;
}

.contacts-address-text {
  max-width: 181px;

  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: var(--color-logo);
}

.map-thumb {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;

  border: 1px solid var(--color-secondtxt);
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.map-thumb iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (min-width: 414px) and (max-width: 1023px) {
  .contacts-tel-text {
    margin-bottom: 0;
  }

  .contacts-address-block {
    margin-left: auto;
  }

  .contacts-address-item {
    display: flex;
    align-items: center;
  }

  .contacts-address-item:nth-child(1),
  .contacts-address-item:nth-child(2) {
    margin-bottom: 16px;
  }

  .contacts-rest-block {
    transform: translateX(-115px);
  }
}

@media screen and (min-width: 1024px) {
  .address-section {
    padding-top: 56px;
    padding-bottom: 40px;
  }

  .contacts-logo {
    font-size: 64px;
    line-height: calc(69 / 64);

    margin-bottom: 8px;
  }

  .contacts-post-logo {
    margin-bottom: 52px;
  }

  .contacts-address-list {
    margin-bottom: 0px;
  }

  .contacts-block-width {
    width: 264px;
  }

  .contacts-tel-link + .contacts-tel-link {
    margin-left: 16px;
  }

  .contacts-tablet-block-width {
    width: 285px;
  }

  .contacts-address-text {
    max-width: 233px;
    color: var(--color-logo);
  }

  .map-thumb {
    width: 535px;
    padding-bottom: 44.04%;
  }

  .address-section > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .address-section {
    padding-top: 56px;
    padding-bottom: 73px;
  }

  .contacts-logo {
    margin-bottom: 16px;
  }

  .contacts-post-logo {
    font-size: 20px;
    line-height: calc(24 / 20);
    margin-bottom: 40px;
  }

  .map-thumb {
    width: 634px;
    padding-bottom: 36.94%;
  }
}
