.main-hero {
  position: relative;
}

.main-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 414px;
}

.main-hero {
  margin: 0 auto;
  padding-top: 181px;
  padding-bottom: 22px;

  background: rgba(0, 0, 0, 0.65);
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../../img/homepage/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../../img/homepage/hero-bg-mob-2x.jpg);
  }
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  font-family: 'Film P3', sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  text-align: center;
  align-content: center;

  color: #ffffff;
}

.main-hero-subheading {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: center;
  align-content: center;

  color: #ffffff;
}

.hero-motto {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;

  font-family: 'Times New Roman', serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  text-align: center;
  align-content: center;

  color: #ffffff;
}

.hero-btn-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.hero-btn {
  display: inline-block;
  padding: 14px 35px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: var(--accent-yellow);
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 25px;

  cursor: pointer;
  transition: background 250ms var(--timing-function);
}

.hero-btn:hover,
.hero-btn:active {
  background: #ffffff;
}

.hero-location {
  position: absolute;
  display: flex;
  top: 64px;
  right: 12px;
  width: 210px;
  height: 47px;
  align-items: center;

  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}

.hero-loc-icon {
  fill: var(--accent-yellow);
  margin-right: 8px;
  margin-left: 5px;
}

.hero-address {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-align: left;

  color: #e5e5e5;
}

.hero-soc-list {
  display: flex;
  gap: 22px;
  margin-left: 15px;
}

.hero-soc-icons {
  fill: var(--accent-yellow);
}
