<header class="header">
  <div class="header-wrap">
    <a href="./index.html" class="logo">MIMINO</a>
  <ul class="header-list">
    <li class="header-item">
      <a href="tel:#"
        >Ресторан
        <svg class="header-svg" width="12" height="20">
          <use href="./public/favicon.svg#icon-phone"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="tel:#">
        Готель
        <svg class="header-svg" width="12" height="20">
          <use href="./public/favicon.svg#icon-phone"></use>
        </svg>
      </a>
    </li>
  </ul>
  </div>
    <a
      href="https://goo.gl/maps/F5xCD67acjxzfqBeA"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
    >

    <ul class="header-soc-list">
      <li>
        <a
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >
          <svg class="header-svg" width="24" height="24">
            <use href="./public/favicon.svg#icon-instagram"></use>
            </svg>
          </a>
      </li>
      <li>
        <a
          href="https://facebook.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >
        
        <svg class="header-svg" width="24" height="24">
          <use href="./public/favicon.svg#icon-facebook"></use>
        </svg>
        </a>
      </li>
      <li>
        <a
          href="https://telegram.org"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >
        
        <svg class="header-svg" width="24" height="24">
          <use href="./public/favicon.svg#icon-telegram"></use>
        </svg>
        </a>
      </li>
    </ul>
    
</header>
