<header class="header">
  <div class="header-wrap">
    <a href="./index.html" class="header-link">
      <span class="header-logo">MIMINO</span>
    </a>
  <ul class="header-list">
    <li class="header-item">
      <a href="tel:#" class="header-link-tel"
        >Ресторан
        <div class="header-svg-nam">
          <svg class="header-svg-phone" width="24" height="24">
            <use href="./public/favicon.svg#icon-phone"></use>
          </svg>
          <p class="header-phone-nam">095 555 95 33</p>
        </div>
        
      </a>
    </li>
    <li class="header-item">
      <a href="tel:#" class="header-link-tel">
        Готель
        <div class="header-svg-nam">
          <svg class="header-svg-phone" width="24" height="24">
            <use href="./public/favicon.svg#icon-phone"></use>
          </svg>
          <p class="header-phone-nam">066 849 10 89</p>
        </div>
        
      </a>
    </li>
  </ul>
  </div>
    <ul class="header-soc-list">
      <li>
        <a
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >
          <svg class="header-svg" width="24" height="24">
            <use href="./public/favicon.svg#icon-instagram"></use>
            </svg>
          </a>
      </li>
      <li>
        <a
          href="https://facebook.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >
        
        <svg class="header-svg" width="24" height="24">
          <use href="./public/favicon.svg#icon-facebook"></use>
        </svg>
        </a>
      </li>
      <li>
        <a
          href="https://telegram.org"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >
        
        <svg class="header-svg" width="24" height="24">
          <use href="./public/favicon.svg#icon-telegram"></use>
        </svg>
        </a>
      </li>
    </ul>
    
</header>
