.header {
  background-color: gray;
  padding-top: 16px;
}

.header-phone-nam {
  display: none;
}

.header-svg {
  display: none;
}

.header-svg-phone {
  fill: var(--accent-yellow);
  /* margin-left: 6px; */
}

.header-wrap {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: flex-end;
  column-gap: 10px;
}

.header-logo {
  display: inline-block;
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #ffffff;
  max-width: 114px;
}

.header-list {
  display: flex;
  /* column-gap: 20px; */
  justify-content: center;
  align-items: center;
}

.header-item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-yellow);
}

.header-link-tel {
  display: flex;
}
