<section>
  <h2 class="visually-hidden">About our hotel</h2> 
  <p>Amet minim mollit non</p>
  <a href="#">MIMIHO</a>
  <p>
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <div>
    <img
      src="../../img/homepage/hotel-1-mob.jpg"
      alt="hotel room"
      width="244"
    />
  </div>
  <p>
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <div>
    <img
      src="../../img/homepage/hotel-2-mob.jpg"
      alt="corner for rest"
      width="200"
    />
  </div>
  <div>
    <ul>
      <li>
        <img
          src="../../img/homepage/hotel-3-mob.jpg"
          alt="reception"
          width="245"
        />
      </li>
      <li>
        <img src="../../img/homepage/hotel-4-tab.jpg" alt="towels" width="245" />
      </li>
    </ul>
    <ul>
       <li> <button type="button"><svg width="32px" height="32px">
         <use href="../../public/favicon.svg#icon-arrow-left"></use>
          </svg></button></li>
          <li> <button type="button"><svg width="32px" height="32px">
         <use href="../../public/favicon.svg#icon-arrow-right"></use>
          </svg></button></li>
      </ul>
  </div>
</section>
