<section class="about-rest-main">
    <div class="about-rest-main-container">
        <h2 class="visually-hidden">About our restaurant</h2>
        <p class="about-rest-main-pre-title">Amet minim mollit non</p>
        <a href="../../index.html" class="about-rest-main-title" target="_blank">MIMIHO</a>
        <p class="about-rest-main-post-title">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <div class="about-rest-main-img-first-wrap">
            <picture>
                <source 
                srcset="../../img/homepage/rest-1.jpg 1x, ../../img/homepage/rest-1-2x.jpg 2x"
                media="(min-width: 1280px)">
                <source 
                srcset="../../img/homepage/rest-1-tab.jpg 1x, ../../img/homepage/rest-1-tab-2x.jpg 2x"
                media="(min-width: 1024px)">
                <source 
                srcset="../../img/homepage/rest-1-mob.jpg 1x, ../../img/homepage/rest-1-mob-2x.jpg 2x"
                media="(max-width: 1023px)">
                <img src="../../img/homepage/rest-1.jpg" alt="Restaurant" >
            </picture>
        </div >
        <div class="about-rest-main-thumb">
            <div class="about-rest-main-img-secondt-wrap">
                <picture>
                    <source 
                    srcset="../../img/homepage/rest-2.jpg 1x, ../../img/homepage/rest-2-2x.jpg 2x"
                    media="(min-width: 1280px)">
                    <source 
                    srcset="../../img/homepage/rest-2-tab.jpg 1x, ../../img/homepage/rest-2-tab-2x.jpg 2x"
                    media="(min-width: 1024px)">
                    <source 
                    srcset="../../img/homepage/rest-2-mob.jpg 1x, ../../img/homepage/rest-2-mob-2x.jpg 2x"
                    media="(max-width: 1023px)">
                    <img src="../../img/homepage/rest-2.jpg" alt="Restaurant">
                </picture>
            </div >
            <p class="about-rest-main-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture>
                        <source 
                            srcset="../../img/homepage/rest-3.jpg 1x, ../../img/homepage/rest-3-2x.jpg 2x"
                            media="(min-width: 1280px)">
                            <source 
                            srcset="../../img/homepage/rest-3-tab.jpg 1x, ../../img/homepage/rest-3-tab-2x.jpg 2x"
                            media="(min-width: 1024px)">
                            <source 
                            srcset="../../img/homepage/rest-3-tab.jpg 1x, ../../img/homepage/rest-3-tab-2x.jpg 2x"
                            media="(max-width: 1023px)">
                            <img src="../../img/homepage/rest-3.jpg" alt="Restaurant">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source 
                            srcset="../../img/slider/img-7.jpg 1x, ../../img/slider/img-7-2x.jpg 2x"
                            media="(min-width: 1280px)">
                            <source 
                            srcset="../../img/slider/img-7-tab.jpg 1x, ../../img/slider/img-7-tab-2x.jpg 2x"
                            media="(min-width: 1024px)">
                            <source 
                            srcset="../../img/slider/img-7-tab.jpg 1x, ../../img/slider/img-7-tab-2x.jpg 2x"
                            media="(max-width: 1023px)">
                            <img src="../../img/slider/img-7.jpg" alt="Restaurant">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source 
                            srcset="../../img/slider/img-15.jpg 1x, ../../img/slider/img-15-2x.jpg 2x"
                            media="(min-width: 1280px)">
                            <source 
                            srcset="../../img/slider/img-15-tab.jpg 1x, ../../img/slider/img-15-tab-2x.jpg 2x"
                            media="(min-width: 1024px)">
                            <source 
                            srcset="../../img/slider/img-15-tab.jpg 1x, ../../img/slider/img-15-tab-2x.jpg 2x"
                            media="(max-width: 1023px)">
                            <img src="../../img/slider/img-15.jpg" alt="Restaurant">
                    </picture>
                </div>
            </div>
            <div class="swiper-button-wrap">
                <svg width="32" height="32" class="swiper-button-prev">
                    <use href="../../public/favicon.svg#icon-arrow-left"></use>
                </svg>
                <svg width="32" height="32" class="swiper-button-next">
                    <use href="../../public/favicon.svg#icon-arrow-right"></use>
                </svg>
            </div>
        </div>
    </div>
</section>