<section>
    <p>Amet minim mollit non</p>
    <h2>details of our hotel</h2>
    <a href="">MIMIHO</a>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <div>
        <img src="../../img/homepage/hotel-1.jpg" alt="hotel-1">
    </div>
    <div>
        <div>
            <img src="../../img/homepage/hotel-2.jpg" alt="hotel-2">
        </div>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <ul>
        <li><img src="../../img/homepage/hotel-3.jpg" alt="hotel-3"></li>
        <li><img src="../../img/homepage/hotel-4.jpg" alt="hotel-4"></li>
    </ul>
    <div>
        <svg width="150px" hegiht="150px">
            <use href="./public/favicon.svg#icon-arrow-left" ></use>
        </svg>
        <svg width="150px" hegiht="150px">  
                <use href="./public/favicon.svg#icon-arrow-right"></use>
        </svg>
    </div>
</section>