<section class="restaurant-details-section">
    <a href="../../index.html" target="_blank">Mimino</a>
    <h2 class="restaurant-details-title">Ресторан</h2>
    <p class="restaurant-details-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
    <div class="restaurant-details-buttons">
        <button type="button" class="restaurant-details-btn">Забронювати столик</button>
        <a href="../../restaurant.html" target="_blank" class="restaurant-details-link">Переглянути меню</a>
    </div>
    <div class="restaurant-details-slider">
        <ul class="rd-dishes-photos-list">
            <li class="rd-dishes-photos-item">
                <picture>
                    <!-- <source srcset="
                    ../../img/homepage/rest-details-1.jpg 1x,
                    ../../img/homepage/rest-details-1-2x.jpg 2x"
                    media="(min-width: 1280px)"
                    />
                    <source srcset="
                    ../../img/homepage/rest-details-1-tab.jpg 1x,
                    ../../img/homepage/rest-details-1-tab-2x.jpg 2x"
                    media="(min-width: 1024px)"
                    />
                    <source srcset="
                    ../../img/homepage/rest-details-1-mob.jpg 1x,
                    ../../img/homepage/rest-details-1-mob-2x.jpg 2x"
                    media="(min-width: 414px)"
                    /> -->
                    <img
                    class="rd-dishes-photos-img"
                    src="../../img/homepage/rest-details-1.jpg"
                    alt="steak"
                    max-width="274"
                    height="270"
                    >
                </picture>
            </li>
            <li class="rd-dishes-photos-item">
                <picture>
                    <!-- <source srcset="
                    ../../img/homepage/rest-details-2.jpg 1x,
                    ../../img/homepage/rest-details-2-2x.jpg 2x"
                    media="(min-width: 1280px)"
                    />
                    <source srcset="
                    ../../img/homepage/rest-details-2-tab.jpg 1x,
                    ../../img/homepage/rest-details-2-tab-2x.jpg 2x"
                    media="(min-width: 414px)" 
                    /> -->
                    <img
                    class="rd-dishes-photos-img"
                    src="../../img/homepage/rest-details-2.jpg"
                    alt="shashlyk"
                    width="162"
                    height="270"
                    >
                </picture>
            </li>
            <li class="rd-dishes-photos-item">
                <picture>
                    <!-- <source srcset="
                    ../../img/homepage/rest-details-3.jpg 1x,
                    ../../img/homepage/rest-details-3-2x.jpg 2x"
                    media="(min-width: 1280px)"
                    />
                    <source srcset="
                    ../../img/homepage/rest-details-3-tab.jpg 1x,
                    ../../img/homepage/rest-details-3-tab-2x.jpg 2x"
                    media="(min-width: 414px)"
                    /> -->
                    <img
                    class="rd-dishes-photos-img"
                    src="../../img/homepage/rest-details-3.jpg"
                    alt="meze"
                    max-width="270"
                    height="270"
                    >
                </picture>
            </li>
        </ul>
        <div class="rd-swiper-buttons-wrapper">
            <button type="button" class="rd-swiper-button-left">          
                <svg class="rd-button-left-icon" width="30" height="17">
                    <use href="../../public/favicon.svg#icon-arrow-left">
                    </use>
                </svg>
            </button>
            <button type="button" class="rd-swiper-button-right">
                <svg class="rd-mobile-menu-open-icon" width="30" height="17">
                    <use href="../../public/favicon.svg#icon-arrow-right">
                    </use>
                </svg>
            </button>
        </div>
    </div>
</section>